@import "tailwindcss";

@layer utilities {
    .text-glow {
        text-shadow: 0 0 10px rgba(255, 255, 255, 0.5), 0 0 20px rgba(168, 85, 247, 0.5);
    }
}

:root {
    color-scheme: dark;
}

body {
    background-color: #050505;
    color: #ededed;
}

/* Smooth scrolling */
html {
    scroll-behavior: smooth;
}